<!DOCTYPE html>
    <html lang="PT-BR">
        <head>
            <script>
             
            </script>
            <style>
             
            </style>
        </head>
        <body>
            <fieldset>
                <legend>cadastrar  Curriculo</legend>
                <form action="curriculo.php" method="POST">
                    usuario:<input type="text" name=usuario"" maxlength="10" minlength="5" placeholder="Nome Completo" required>
                    Senha: <input type="passsword" name="senha" placeholder="senha" required>
                    <input type="psubmiti"volue"logar"                  
                </form>
            </fieldset> 
          </fieldset>
            <legend> cadastrar curriculo </legend> 
            <fieldset>
          </legend>DADOS PESSOAS</legend> 
          nome completo:<input type="text"></br>
          telefone:<input type="number"></br>
          e-mail:<input type="email"></br>
          endereço<input type="text">br>
          data de nascimento:<input type="date"></br>
            genero:M < input type="checkbox"> F <input type="checkbox"> outros < input type"checkbox"></br> 
                informaçoes adicionais:</br><textarea></textarea>
        </fieldset>
        </fieldset>
       
        </body>
  
    </html> 
