<!DOCTYPE html>
    <html lang="PT-BR">
        <head>
            <script>
             
            </script>
            <style>
             
            </style>
        </head>
        <body>
            <fieldset>
                <legend>logar no Curriculo</legend>
                <form action="curriculo.php" method="POST">
                    usuario:<input type="text" name=usuario"" maxlength="10" minlength="5" placeholder="Nome Completo" required>
                    <input type="psubmiti"volue"logar"


                  
                </form>
            </fieldset> 
          </fieldset>
        </legend> 
          </legend>cadastrar curriculo</legend> 
          nome completo:
          telefone:
          e-mail:
          endereço:
          
        </body>
    </html>

